@import '../../styles/variables.scss';

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 30px;
    grid-gap: 1em;
    justify-content: center;
    margin: 5em auto;
    width: 90%;
}

@media (min-width: $xs-d) {
    .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: $md-d) {
    .grid { grid-template-columns: repeat(4, 1fr); }
}