@import '../../styles/variables.scss';
@import '../../styles/anime.scss';

.form {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    opacity: 0;
    animation: shortAnim(fadeIn);
}

@media (min-width: $xs-d) {
    .form {
        width: 80%;
        margin-top: 5em;
    }
}

@media (min-width: $sm-d) {
    .form { width: 50%; }
}

@media (min-width: $lg-d) {
    .form { width: 30%; }
}