@import '../../styles/variables.scss';

.submit {
    width: 100px;
    font-weight: normal;
    padding: 0.75em;
    background: $btn;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: $shadow;
    letter-spacing: 1px;
    transition-duration: 0.2s;
    
    &:hover {
        box-shadow: $shadow-hover;
        transition-duration: 0.2s;
    }
}